body {
	width: 100%;
	margin-top: 13rem;
	background-image:url('../resources/images/background.jpg');
	background-repeat:repeat-y;
	background-attachment: fixed;
	-webkit-background-size: auto;
}

/* Navbar */
nav.navbar {
	background-image: linear-gradient(to right, #455a64, #999988) !important;
	box-shadow: 10px 1px 5px 10px #8eb9c3;
}

li.nav-item:hover {
	background-color: #999988 !important;
	-webkit-border-radius: 5%;
	-moz-border-radius: 5%;
	border-radius: 5%;
}

/* Jumbotron */
div#me {
	/*background-image: linear-gradient(to right, #455a64, #999988) !important; */
	background: url("../resources/images/jumbo-back.jpg") no-repeat !important;
}

img#me-pic {
	border: solid white 0.5rem !important;
}

.me-info {
	opacity: 0.7;
}

/* Paragraphs */
div#text-menu:hover {
	cursor: pointer;
}

p.text-menu-icon {
	position: absolute;
}

div.text-card {
	border-bottom: solid black 1px;
}

div.text-card:hover {
	background-color: #999988 !important;
}

div.text-card:first-child {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

div.text-card:nth-child(3) {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

div.opacity {
	opacity: 0.7;
}

/* Menu Icon State Classes */
p.text-menu-icon.hover_rotate {
	position: absolute;
	-webkit-transform: rotate(0deg) !important;
	-moz-transform: rotate(0deg) !important;
	-o-transform: rotate(0deg) !important;
	transform: rotate(0deg) !important;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

p.text-menu-icon.hover_rotate.open {
	position: absolute;
	-webkit-transform: rotate(90deg) !important;
	-moz-transform: rotate(90deg) !important;
	-o-transform: rotate(90deg) !important;
	transform: rotate(90deg) !important;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

.hover_rotate {
	-webkit-transform: rotate(0deg) !important;
	-moz-transform: rotate(0deg) !important;
	-o-transform: rotate(0deg) !important;
	transform: rotate(0deg) !important;
	-webkit-transition-duration: 1s !important;
	-moz-transition-duration: 1s !important;
	-o-transition-duration: 1s !important;
	transition-duration: 1s !important;
}

.hover_rotate:hover {
	-webkit-transform: rotate(45deg) !important;
	-moz-transform: rotate(45deg) !important;
	-o-transform: rotate(45deg) !important;
	transform: rotate(45deg) !important;
	-webkit-transition-duration: 1s !important;
	-moz-transition-duration: 1s !important;
	-o-transition-duration: 1s !important;
	transition-duration: 1s !important;
}

/* Recaptcha */
.g-recaptcha {
	padding-left: auto;
	padding-right: auto;
}

/* Card Modal Triggers */
button.ex-modal-trigger {
	background-color: #455a64 !important;
}

/* Git Images */
.git-img {
	margin-bottom: -0.25rem;
}

/* Footer */
div#footer-div {
	text-align: center;
}

div#footer {
	background-image: linear-gradient(to right, #455a64, #999988) !important;
}

div#footer div a {
	color: black !important;
}

#resume {
	width: 100%;
	height: 100%;
}

/* Media queries for mobile responsiveness */
@media screen and (max-width: 768px) and (max-height: 1024px) {
	nav.navbar {
		box-shadow: none;
	}

	div#me {
		/*background-image: linear-gradient(to right, #455a64, #999988) !important; */
		background: url("../resources/images/jumbo-back-mobile-ipad.jpg") no-repeat !important;
	}

	button.card-button {
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
	}
}