body {
	width: 100%;
	background-image:url('../resources/images/background.jpg');
	background-repeat:repeat-y;
	background-attachment: fixed;
}

div.opacity {
	opacity: 0.7;
}

.g-recaptcha {
	padding-left: auto;
	padding-right: auto;
}

div#footer-div {
	text-align: center;
}


@media (max-width: 768px) and (max-height: 1024px) {
	button.card-button {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}
}